// Specific CSS for your home-page


// font-family: Reem Kufi;
// color: #2A422C;
// background-color: #4BC999;
.main-container {
  height: 100vh;
      overflow-x: hidden;
}

.sign-up-btn {
  color: #2A422C;
  position: absolute;
width: 288px;
height: 47px;
left: 41px;
top: 397px;
background: linear-gradient(90deg, #4BC999 99.99%, #1E3E29 100%);
border-radius: 20px;
color:white;
padding-top: 10px;
}

.sign-in-btn {
  position: absolute;
width: 288px;
height: 47px;
left: 41px;
top: 467px;
background: linear-gradient(90deg, #FFC739 74.73%, #FFC739 99.99%, #234830 100%);
border-radius: 20px;
color: white;
padding-top: 10px;

}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 170px;
}

.mainlogo{
  width: 100%;
  object-fit: cover;
 margin-top: 62px;
  margin-left: 15px;
  padding: 10px;
}

.sign-in-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.intro{
  margin-top: 30px;
  position: absolute;
  width: 302px;
  height: 119px;
  left: 38px;
  top: 218px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
}

h2{
font-family: Roboto;

}

.form-inputs{
  background-color:#FFC739;
  padding: 40px;
  margin: 35px;
  border-radius: 15px;
  margin-top: 30px;
}

.form-actions{
left: 21.43%;
right: 22.08%;
top: 28.3%;
bottom: 30.19%;
margin-left: 35%;
border-radius: 20px;
display: flex;
justify-content: center;
}


.forgotbtn{
  color:purple;
  margin-left: 50px;
  padding-top: 10px;
  display: inline;
  text-align: center;
}

h5{
  text-align:center;
}

.consumer-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.consumerheading{
  color: white;
    text-align: center;
    font-size: 30px;
    background-color: #FFB906;
    border-radius: 20px 20px 0 0;
    width: 70%;
    margin: 0 auto;
    position: relative;
    bottom: -1px;
}


.form-control{
  text-align: center;
  padding-left: 10px;
  color: purple;
  border-radius: 20px;


}

.youritem{
  padding-top:10px;
  padding-left:15px;
  padding-bottom:0px;
  padding-right:15px;
}

.youritembtn{
  padding: 16px;
}

// .btn{
//   background-color:#4BC999;
//   border-radius: 20px;
// }

.background3{
  background-color:#FFC739;
  border-radius: 20px;
  padding-top: 30px;
  text-align: center;
  margin-left: 14px;
  margin-right: 14px;
}


.textbox{
  border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 30px;
    text-align: center;
    font-size: 20px;
    color: #464646;
    font-family: Reem Kufi;
}

.mainlogo2{
  width: 100%;
  object-fit: cover;
  padding: 10px;
  margin-right: -377px;
  padding-bottom: 450px;
}

.sign-in {
  .form-actions{
    width: 202px;
    height: 47px;
    color: white;
    background: linear-gradient(90deg, #4BC999 0%, #1E3E29 100%);
    border-radius: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin: 20px auto;
    color: #FFFFFF;
  }

  .btn{
    color:white;
  }
}

.dh2{
text-align: center;
padding-top: 30px;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
text-align: center;

}

h2{
  font-family: Reem Kufi;
}

.m-0{
  font-family: Reem Kufi;
  margin: 1px !important;
}

.btn-primary {
    color: white;
    background-color: #4BC999;
    border-color: #167FFB;
    border-radius: 20px;
}


.box .product_box{
  background-color: white;
}


.box {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10px;
  border-radius: 20px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.heading5{
  border: 2px solid black;
  font-size: 10px;
  background-color: white;
  border-radius: 32px;
  margin-top: 40px;
  padding-top: 10px;
}

.text {
  font-size: 11px;
}

