// Specific CSS for your home-page


// font-family: Reem Kufi;
// color: #2A422C;
// background-color: #4BC999;
.main-container {
  height: 100vh;
}

.sign-up-btn {
  color: #2A422C;
  // position: absolute;
width: 288px;
height: 47px;
// left: 41px;
// top: 397px;
background: linear-gradient(90deg, #4BC999 99.99%, #1E3E29 100%);
border-radius: 20px;
color:white;
padding-top: 10px;
display: block;
margin: 20px auto
}

.sign-in-btn {
  // position: absolute;
width: 288px;
height: 47px;
// left: 41px;
// top: 467px;
background: linear-gradient(90deg, #FFC739 74.73%, #FFC739 99.99%, #234830 100%);
border-radius: 20px;
color: white;
padding-top: 10px;
display: block;
margin: 20px auto

}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 170px;
}

.mainlogo{
  // width: 100%;
  object-fit: cover;
  margin-top: 62px;
  margin-left: 15px;
  padding: 10px;
}

.sign-in-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.intro{
  margin-top: 30px;
  position: absolute;
  width: 302px;
  height: 119px;
  left: 38px;
  top: 218px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
}

h2{
font-family: Roboto;

}

.form-inputs{
  background-color:#FFC739;
  padding: 40px;
  margin: 35px;
  border-radius: 15px;
  margin-top: 30px;
  margin:auto;
  width: 300px;
}

.form-inputs p {
  text-align:left;
}

.form-actions{
left: 21.43%;
right: 22.08%;
top: 28.3%;
bottom: 30.19%;
margin-left: 35%;
border-radius: 20px;
display: flex;
justify-content: center;
}


.forgotbtn{
  color:purple;
  padding-top: 10px;
  display: inline;
  text-align: center;
}

h5{
  text-align:center;
}

.consumer-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 70px;

}

.consumerheading{
  color: white;
  text-align: center;
  font-size: 30px;
  background-color: #FFB906;
  border-radius: 20px 20px 0 0;
  width: 70%;
  margin: 0 auto;
  position: relative;
  bottom: -1px;
  padding-top: 5px;
}


.form-control{
  text-align: center;
  padding-left: 10px;
  color: purple;
  border-radius: 20px;


}

.youritem{
  padding-top:10px;
  padding-left:15px;
  padding-bottom:0px;
  padding-right:15px;
}

.youritembtn{
  padding: 16px;
}

// .btn{
//   background-color:#4BC999;
//   border-radius: 20px;
// }

.background3{
  background-color:#FFC739;
  border-radius: 20px;
  padding-top: 30px;
  text-align: center;
  margin-left: 14px;
  margin-right: 14px;
}


.textbox{
  border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 90px 30px 0px 30px;
    text-align: center;
    font-size: 20px;
    color: #464646;
    font-family: Reem Kufi;
}

.mainlogo2{
  // width: 100%;
  object-fit: cover;
  margin: 100px 0 25px 0;
  // padding: 10px;
  // margin-right: -377px;
  // padding-bottom: 450px;
  // position: absolute;
}

.sign-in {
  .form-actions{
    width: 202px;
    height: 47px;
    color: white;
    background: #1EDD88;
    border-radius: 20px;
    font-family: "Reem Kufi", "Helvetica", "sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin: 20px auto;
    color: #FFFFFF;
  }

  .btn{
    color:white;
  }
}

.dh2{
text-align: center;
padding-top: 30px;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
text-align: center;
margin-right: 79px;
margin-left: 77px;
border-radius: 20px 20px 0 0;
background-color:#ffb700;
padding-top: 15px;
}

h2{
  font-family: Reem Kufi;
}

.m-0{
  font-family: Reem Kufi;
  margin: 1px !important;
}

.btn-primary {
    color: white;
    background-color: #4BC999;
    border-radius: 20px;
  //   @media(min-width: 1200px) {

  // }
}




.box {
  display: flex;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: 10px auto;
  max-width: 800px;
  border-radius: 15px;
  position: relative;
  margin-left: 26px;
  margin-right: 26px;
}

.card-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin: 20px auto;
  max-width: 800px;
  border-radius: 15px;
  position: relative;
  margin: 26px;
}

.favorite-star {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: unset;
}

.images {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.heading5{
  border: none;
  border-radius: 15px;
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-top: 33px;
}

.heading55{
      margin-top: 40px;
      padding-bottom: 10px;
}

.text p {
  font-size: 16px;
  padding-right: 30px;
  padding-top: 5px;
  padding-left: 30px;
  color: black;
}

.text a {
  color: black;
    &:hover {
    color: grey;
    text-decoration: none;
    }
}

.make_another_search{
  background-color: green;
}

.newproduct3{
  color: white;
  font-size: 30px;
  background-color: #FFC739;
    border-radius: 20px;
    padding-top: 12px;
    padding-bottom: 5px;
    text-align: center;
    margin-left: 14px;
    margin-right: 14px;
}

.backbton{
  color: white;
}
