.dashboard-content {
    margin-top: 100px;
}

.card-action-buttons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.box-cards {
  display: flex;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin: 10px auto;
  max-width: 800px;
  border-radius: 15px;
}

.text-cards {
  padding-top: 20px;
}

.image-cards {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}