.container{
  padding-top: 20px;
  color: black;
  text-align: center;
}

.make_another_search{
  color: black;
  text-decoration: underline;
  position: bottom;
}
.product_box{
  color: black;
  background-color: #FFC739;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 150px;
}
