.container{
  text-align: center;
  background-color: white;
  padding: 0px;
}


.text{
  padding-top: 40px ;
}

.title_4{
  color: black;
  padding-top:40px;
  font-size: 6px;
}

.pic{
  padding-top:10px;
}

.materialname{
  text-align: center;
  margin-right: 40px;
  font-size: 30px;
}

.zizi{
text-color: white;
text-decoration: none;
background-color: #1edd88;
padding: 10px;
border-radius: 20px;
margin-left: 68px;
margin-right: 68px;

}
