<div class="consumer-page" style="background-image: url(<%=  asset_path('signin.png') %>); background-size: cover; background-position: center;">
<img src="/assets/main-logo.png" class="mainlogo2">
  <div class="consumer-container">
    <div class="textbox">
     Search any item below to find out information on its recyclability
    </div>
    <div class="consumerheading">
     <p class="m-0">I'm a consumer!</p>
    </div>
    <div class="background3">
      <div class="youritem">
        <%= form_tag products_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "What's your item?"
          %>
          <div class="youritembtn">
            <%= submit_tag "Search", class: "btn btn-primary" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
