<div class="consumer-page" style="background-image: url(<%=  asset_path('signin.png') %>); background-size: cover; background-position: center;">
<img src="/assets/main-logo.png" class="mainlogo2">
<div class="container">
  <p>Welcome back!</p>
  <div class= "newproduct3">
  <p><%= link_to "List a new product", new_product_path %> </p>
  </div>

</div>


