

.carousel-answer-option-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}



.carousel-inner .recyclable-message {
  background-color:gold;
}




#carouselExampleIndicators{
  max-width: 350px;
  margin: auto;


}

 #title {
  padding-bottom:150px;
 }
