

.carousel-answer-option-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.carousel-inner .recyclable-message-game {
  // background-color:gold;
  height: 320px;
}

#carouselExampleIndicators{
  max-width: 360px;
  margin: auto;


}

.game-text{
font-family: 'Luckiest Guy', cursive;
color: #d65555;
}

.recyclable-message-game  {
  // border : 1px solid black;
  border-radius: 30px;

}


.game-image {
  padding:20px;
}


.game-title {
  color: #382626;
  font-size: initial;
}

#green-icon {
  color:green;
}


#red-icon {
  color:red;
}


#orange-icon {
  color:orange;
}

