.carousel-answer-option-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.carousel-inner .recyclable-message {
  background-color:gold;
  height: 320px;
}

#carouselExampleIndicators{
  max-width: 360px;
  margin: auto;


}

 #title {
padding:50px 30px;
}

.recyclable-message  {
  border : 2px solid black;

}
