.card-products {
  float: left;
  width: 250px;
  height: 250px;
  border: 1px solid rgba(0, 0, 0, .2);
  background-color:white;
  box-shadow: 2px 2px 5px #444A51;

  font-size: 30px;
  font-family: 'Anton', sans-serif;
  padding :30px;
}



// div p, h3{
//   text-align: center;
// }

// h1 {
//   text-align: center;
// }

// input[type="text"] {
//   margin-top: 40px;
//   margin-left: 20px;
// }

// form {
//   text-align: center;
// }


// div p,{
//   padding-top: 21px;
// }


