.navbar-recyclable {
  display: flex;
  justify-content: space-between;
  background-color: #FFC739;//#900C3F ;#FFC739;
  list-style-type: none;
  margin: 0;
  padding:10px;
  font-size: 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 20px;

  a{
    color: white;
  }
}


  z-index: 999;
}


.logo-navbar {
  width: 162px;
}

.logo-navbar img {
  width: 120px;
  height: 33px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.newzi{
padding-top: 12px;
padding-right: 10px;
padding-left: 10px;
margin-bottom: -12px;
background-color: #F9F7E8;
border-radius: 10px 10px 0 0;
margin-left: 13px;
}

.newzi2{
  color:#4BC999;
}

.margin-50{
  margin-top: 70px !important;
}

