
<div class="container">

  <h1>Alternative page</h1>
  <ul>
  <%@alternatives.each do |alternative| %>
  <li><%= cl_image_tag alternative.photo.key, height: 150, width: 150, crop: :fill %><%= alternative.name %></li>
  <% end %>
  <%= link_to "back to results", product_path(@product) %>
  </ul>
</div>
