<div class="container">

  <h1> <%= @products.count %> We've found something for you!</h1>

  <% @products.each do |product| %>
    <p><%= cl_image_tag product.photo.key, height: 150, width: 150, crop: :fill %><%= link_to product.name, product_path(product) %></p>
  <% end %>

  <h5><%=link_to "Search more", user_path(current_user)%></h5>

</div>
